<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="sales_email">
            <group id="uncaptured_orders" translate="label" type="text" sortOrder="10"  showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Pending Invoices</label>
                 <field id="first_reminder_template" translate="label comment" type="select" sortOrder="2"   showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>First Reminder Email Template</label>
                    <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="legal_notice_template" translate="label comment" type="select" sortOrder="3"   showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Legal Reminder</label>
                    <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
        </section>
    </system>
</config>