<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="customtheme2" frontName="customtheme2">
            <module name="Mobilyte_Customtheme2"/>
        </route>
    </router>
</config>